:root {
  --primary-color: #4a90e2;
  --secondary-color: #c3eefa;
  --accent-color: #f7c948;
  --text-dark: #333;
  --text-light: #c9c9c9;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-container {
  max-width: var(--max-width);
  padding: 80px 15px;
  margin: auto;
}

.section-header {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  line-height: 1.5;
}

.section-subheader {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

/* Home page | navbar section */

#header img {
  width: 160px;
  height: auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0 0.06);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-self: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  color: var(--text-dark);
  font-size: 18px;
  transition: all 250ms ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-color);
  cursor: pointer;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -10px;
  left: 16px;
}

#mobile {
  display: none;
  align-items: center;
}

#mobile i {
  font-size: 22px;
  padding: 0 10px;
}

#close {
  display: none;
}

/* Home page | Hero section */
#hero {
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
}

#hero_content {
  margin: 0 80px;
  padding-top: 60px;
}

#hero_content h4 {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 80px;
}

#hero_content h1 {
  color: var(--primary-color);
  font-size: 65px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 40px 0 18px 0;
  /* text-align: center; */
}

#hero_content h2 {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  /* text-align: center; */
  margin-bottom: 18px;
}

#hero_content P {
  color: var(--text-dark);
  opacity: 0.7;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 18px;
}

#hero-btn button {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  border-radius: 80px;
  padding-block: 0.5rem;
  padding-inline: 1.5rem 1rem;
  margin: 50px 0;
  transition: all 250ms ease-in-out;
}

#hero-btn button span {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border-radius: 100%;
  padding: 5px 9px;
}

#hero-btn button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#hero-btn button:hover span {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Media Query */

@media (max-width: 540px) {
  #hero {
    width: 100%;
    height: 460px;
  }

  #hero_content {
    padding-top: 30px;
    margin: 0 40px;
  }

  #hero_content h4 {
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #hero_content h1 {
    font-size: 28px;
    text-align: center;
    margin: 20px 0 18px 0;
  }

  #hero_content h2 {
    font-size: 16px;
  }

  #hero_content P {
    font-size: 14px;
  }

  #hero-btn button {
    font-size: 14px;
    margin: 20px 0;
    padding-inline: 1rem 0.5rem;
  }

  #hero-btn button span {
    font-size: 14px;
  }
}

@media (max-width: 799px) {
  body {
    overflow-x: hidden;
  }

  #header {
    padding: 5px 10px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e6e8f0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    padding: 80px 0 0 10px;
    transition: right 0.3s ease;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 30px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: var(--text-dark);
    font-size: 24px;
    padding-right: 20px;
  }

  #close {
    color: var(--text-dark);
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  #lg-bag {
    display: none;
  }

  #hero_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
