:root {
  --primary-color: #4a90e2;
  --secondary-color: #c3eefa;
  --accent-color: #f7c948;
  --secondary-accent-color: #fbe089;
  --text-dark: #333;
  --text-light: #c9c9c9;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Mulish", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-container {
  max-width: var(--max-width);
  padding: 60px 15px;
  margin: auto;
}

.section-header {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  line-height: 1.5;
}

.section-subheader {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

/* Home page | navbar section */

#header img {
  width: 160px;
  height: auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0 0.06);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-self: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  color: var(--text-dark);
  font-size: 18px;
  transition: all 250ms ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-color);
  cursor: pointer;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -10px;
  left: 16px;
}

#header .profile {
  background-color: var(--white);
  border: 1px solid var(--text-light);
  border-radius: 2px;
  text-align: center;
  padding: 1.5rem;
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 30rem;
  display: none;
  animation: fadeIn 0.2s linear;
}

#header .profile.active {
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

#header .profile .profile-btn,
#header .profile .delete-btn {
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2.5rem;
  transition: all 250ms ease-in-out;
}

#header .profile .profile-btn {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  font-weight: 600;
}

#header .profile .delete-btn {
  background-color: #f8a9a0;
  color: var(--text-dark);
  font-weight: 600;
}

#header .profile .profile-btn:hover {
  background-color: var(--white);
  border: 1px solid var(--accent-color);
  color: var(--text-dark);
  cursor: pointer;
}

#header .profile .delete-btn:hover {
  background-color: var(--white);
  border: 1px solid #f8a9a0;
  color: var(--text-dark);
  cursor: pointer;
}

#header .profile .login-name {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#header .profile .profile-account {
  color: var(--text-dark);
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: 1rem;
}

#header .profile .profile-account a {
  color: var(--text-dark);
  font-weight: 700;
}

#header .profile .profile-account a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

#mobile {
  display: none;
  align-items: center;
}

#mobile i {
  font-size: 22px;
  padding: 0 10px;
}

#close {
  display: none;
}

/* Home page | Hero section */
#hero {
  background-image: url("../images/main.header.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 860px;
}

#hero_content {
  margin: 0 40px;
  padding-top: 10px;
}

#hero_content h4 {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 80px;
}

#hero_content h1 {
  color: var(--primary-color);
  font-size: 72px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 40px 0 40px 0;
  text-align: center;
}

#hero_content h2 {
  color: var(--white);
  font-size: 34px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin: 40px 0 80px 0;
}

#hero_content P {
  color: var(--white);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  padding: 20px 25px;
  margin: 40px 0 80px 0;
}

#hero-btn button {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 24px;
  line-height: 1.5;
  display: block;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  border-radius: 80px;
  padding-block: 0.5rem;
  padding-inline: 1.7rem 1.2rem;
  margin: 100px auto;
  transition: all 250ms ease-in-out;
}

#hero-btn button span {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border-radius: 100%;
  padding: 5px 9px;
}

#hero-btn button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#hero-btn button:hover span {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Home page |  Intro section */

.section-header {
  margin-top: 80px;
}

.section-header p,
.section-header h2 {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-header p {
  font-size: 22px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 80px;
}

.intro-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 40px 50px 10px 50px;
}

.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 350px;
  width: 100%;
  padding: 16px;
}

.intro-card div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 16px;
  padding: 10px;
}

.intro-card img {
  display: block;
  margin: 0 auto;
  padding: 20px 20px;
  width: 160px;
  object-fit: cover;
}

.intro-card:nth-child(1) {
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.intro-card:nth-child(2) {
  background-color: #f8a9a0;
  border-radius: 100%;
}

.intro-card:nth-child(3) {
  background-color: var(--secondary-accent-color);
  border-radius: 100%;
}

.intro-card h4 {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
}

.intro-card p {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 20px;
}

.intro-card a {
  background-color: var(--white);
  color: var(--text-dark);
  font-size: 14px;
  display: inline-block;
  border-radius: 80px;
  padding: 8px 10px;
  transition: all 200ms ease-in-out;
}

.intro-card:nth-child(1) a:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.intro-card:nth-child(2) a:hover {
  color: #f38375;
  border: 1px solid #f38375;
}

.intro-card:nth-child(3) a:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Home page | About section */
.about-container {
  padding: 20px 80px;
}

.about-header h2 {
  font-size: 40px;
  margin-bottom: 80px;
}

.about-row {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  margin-top: 32px;
}

.about-row:nth-child(3) {
  margin-top: 60px;
}

.about-image {
  flex: 1;
  width: 300px;
}

.about-content {
  flex: 1;
  text-align: center;
}

.about-content span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-inline: auto;
  margin-bottom: 32px;
  border-radius: 100%;
  aspect-ratio: 1;
}

.about-content span img {
  max-width: 40px;
}

.about-row {
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.about-row:nth-child(2) .about-content span {
  background-color: var(--secondary-color);
}

.about-row:nth-child(3) {
  flex-direction: row-reverse;
}

.about-row:nth-child(3) .about-content span {
  background-color: #f8a9a0;
}

.about-row:nth-child(4) .about-content span {
  background-color: var(--secondary-accent-color);
}

.about-content h4,
.about-content p {
  color: var(--text-dark);
  line-height: 1.5;
  text-align: start;
  max-width: 450px;
  margin-inline: auto;
}

.about-content h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.about-content p {
  font-size: 20px;
  opacity: 0.7;
}

/* Home page | Store section */
.store-container {
  padding: 60px 15px;
}

.product {
  position: relative;
  isolation: isolate;
}

.product::before {
  background-color: #fff2cd;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.store-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}

.store-card img {
  width: 100%;
  border-radius: 4px;
}

.store-card h4 {
  color: var(--text-dark);
  font-size: 28px;
  font-weight: 600;
  margin-block: 20px 15px;
}

.store-card p {
  font-size: 18px;
  margin-bottom: 20px;
}

.store-card a {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 20px;
  display: inline-block;
  border-radius: 80px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.store-card a:hover {
  background-color: var(--white);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

/* Home page | Service section */
#service .section-header h2 {
  font-size: 38px;
  margin-bottom: 80px;
}

.service-flex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  margin-top: 64px 10px 0 10px;
}

.service-card div {
  background-color: var(--secondary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 120px;
  margin-bottom: 32px;
  margin-inline: auto;
}

.service-card img {
  max-width: 50px;
}

.service-card p {
  font-weight: 500;
  opacity: 0.5;
  text-align: center;
}

/* Home page | Client section */
#client {
  background-color: #fcd4d0;
  width: 100%;
}

#client .section-header {
  padding-top: 80px;
}

.swiper {
  width: 80%;
  margin-top: 60px;
}

.swiper-slide {
  min-width: 375px;
}

.client-card {
  background-color: var(--white);
  border-radius: 8px;
  padding: 25px 40px;
  margin: 20px 0 40px 0;
  transition: 300ms;
}

.client-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.client-details img {
  max-width: 120px;
  width: 120px;
  height: 100px;
  border-radius: 100%;
}

.client-details h4 {
  font-size: 24px;
  padding: 10px;
}

.client-details h5 {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.6;
}

.client-card p {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 20px;
}

/* Home page | Instagram section */

#instagram .section-header {
  padding: 5px 50px;
}

#instagram .section-header p {
  background-color: var(--accent-color);
  color: var(--text-dark);
  max-width: fit-content;
  padding: 6px 20px;
  margin-bottom: 16px;
  border-radius: 80px;
}

#instagram .section-header h2 {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--text-light);
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.instagram-grid img {
  width: 100%;
  height: auto;
}

/* Home page | Footer section */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

footer .footer-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

footer .header-logo {
  width: 120px;
  margin-bottom: 20px;
}

.footer-col h4 {
  color: var(--text-dark);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}

footer #address,
footer #newsletter {
  margin-top: 140px;
}

footer #inquiries,
footer #follow {
  margin-top: 30px;
}

.footer-col p {
  color: var(--text-dark);
  margin-bottom: 18px;
}

.footer-col ul {
  list-style: none;
}

.footer-col form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 80px;
  margin-bottom: 20px;
}

.footer-col form input {
  background-color: transparent;
  color: var(--text-dark);
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
  width: 100%;
  padding-inline: 20px;
}

.footer-col form button {
  background-color: var(--primary-color);
  color: var(--text-dark);
  font-size: 14px;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 80px;
}

.footer-col form button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.footer-col .ri-arrow-right-line {
  color: var(--white);
}

.footer-col .ri-arrow-right-line:hover {
  color: var(--text-dark);
}

.footer-links {
  display: grid;
  gap: 16px;
}

.footer-links a,
.footer-socials a {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}

.footer-links a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.footer-socials {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.footer-socials a {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 100%;
}

.footer-socials a:hover {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  cursor: pointer;
}

.footer-bar {
  color: var(--text-light);
  font-size: 14px;
  display: block;
  margin: 0 auto;
  padding: 40px;
}
.footer-bar p {
  text-align: center;
}

.footer-bar a {
  color: var(--text-light);
  text-decoration: underline;
  transition: all 250ms ease-in-out;
}

.footer-bar a:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

/* About Page | Page Header section */

#about-header .page-header {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
}

#about-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#about-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#about-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#about-header .page-header p a:hover {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}

/* About Page |  About section*/
#about-page-intro .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#about-page-intro .about-page-image img {
  width: 100%;
  padding: 30px 10px;
}

#about-page-intro .about-page-main-content h2 {
  color: var(--text-dark);
  font-size: 38px;
  line-height: 1.5;
  margin: 30px;
}

#about-page-intro .about-page-main-content p {
  color: var(--text-dark);
  font-size: 18px;
  line-height: 1.5;
}

/* Service page | service header */

#service-header .page-header {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
}

#service-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#service-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#service-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#service-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/* Service Page |  service intro section*/
#service-intro {
  margin-top: 40px;
}

#service-intro .service-intro-para p {
  color: var(--text-dark);
  font-size: 24px;
  text-align: center;
  padding-bottom: 60px;
}

#service-intro .service-intro-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 24px;
}

#service-intro .service-intro-box {
  border: 1px solid var(--text-light);
  border-radius: 4px;
  padding: 32px;
}

#service-intro h3 {
  color: var(--text-dark);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 50px;
}

#service-intro .service-intro-box img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

#service-intro .service-intro-box h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 40px;
}

#service-intro .service-intro-box h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
}

#service-intro .service-intro-box p {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  margin-bottom: 20px;
}

#service-intro .service-intro-btn button {
  background-color: var(--white);
  color: var(--text-dark);
  font-size: 14px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 80px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

#service-intro .service-intro-btn button:hover {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  cursor: pointer;
}

#service-intro .service-intro-btn a {
  color: var(--text-dark);
}

/* store page | store header */

#store-header .page-header {
  background-color: #f8a9a0;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
}

#store-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#store-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#store-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#store-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/* Store page | Product details section */

#store-page h2 {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
}

#store-page .product-container,
#cart-page .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

#store-page .product-container .product-box,
#cart-page .product-container .product-box {
  border: var(--text-dark);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--text-light);
  border-radius: 2px;
  padding: 2rem;
  margin-top: 20px;
}

#store-page .product-container .product-box img,
#cart-page .product-container .product-box img {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 20rem;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

#store-page .product-box .ri-eye-fill,
#store-page .product-box .ri-shopping-cart-line,
#cart-page .product-box .ri-eye-fill,
#cart-page .product-box .ri-delete-bin-line {
  background-color: var(--white);
  color: var(--text-dark);
  border: 1px solid var(--secondary-accent-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 4.3rem;
  position: absolute;
  top: 2.3rem;
  height: 2rem;
  width: 2rem;
  transition: all 250ms ease-in-out;
}

#store-page .product-box .ri-eye-fill:hover,
#store-page .product-box .ri-shopping-cart-line:hover,
#cart-page .product-box .ri-eye-fill:hover,
#cart-page .product-box .ri-delete-bin-line:hover {
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}

#store-page .product-box .ri-eye-fill,
#cart-page .product-box .ri-eye-fill {
  left: -20rem;
}

#store-page .product-box .ri-shopping-cart-line {
  right: -20rem;
}

#store-page
  .product-box:hover
  .ri-eye-fill
  #cart-page
  .product-box:hover
  .ri-eye-fill {
  left: 2rem;
}

#store-page .product-box:hover .ri-shopping-cart-line {
  right: 2rem;
}

#store-page .product-box .product-category {
  color: var(--text-light);
  font-size: 1rem;
}

#store-page .product-box .product-category:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

#store-page .product-box .product-name,
#cart-page .product-box .product-name {
  color: var(--text-dark);
  font-size: 1.3rem;
  margin: 1rem 0;
}

#store-page .product-box .flex .product-price,
#cart-page .product-box .flex .product-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  color: var(--text-dark);
  font-size: 1.2rem;
  margin-right: auto;
}

#store-page .product-box .flex .product-qty,
#cart-page .product-box .flex .product-qty {
  color: var(--text-dark);
  font-size: 1rem;
  border: 1px solid var(--text-light);
  border-radius: 2px;
  padding: 0.3rem;
}

#store-page .more-btn button {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 20px;
  display: block;
  border: none;
  border-radius: 80px;
  padding: 10px 20px;
  margin: 40px auto;
  transition: all 200ms ease-in-out;
}

#store-page .more-btn button:hover {
  background-color: var(--white);
  border: 1px solid var(--accent-color);
  color: var(--text-dark);
  cursor: pointer;
}

/* Contact page starts here */
/*  Contact page / Page header */

#contact-header .page-header {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#contact-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#contact-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#contact-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#contact-header .page-header p a:hover {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}

/*  Contact page / Contact form */
#contact-page {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#contact-page .contact-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

#contact-page .contact-row .contact-page-image {
  flex: 1 1 40rem;
}

#contact-page .contact-row .contact-page-image img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

#contact-page .contact-row form {
  flex: 1 1 40rem;
  padding: 2rem;
  text-align: center;
}

#contact-page .contact-row form h3 {
  color: var(--text-dark);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#contact-page .contact-row form p {
  color: var(--text-dark);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#contact-page .contact-row form .input-box {
  color: var(--text-dark);
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

#contact-page .contact-row form .contact-btn {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  font-size: 1.2rem;
  line-height: 1.5;
  display: block;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5rem;
  padding-block: 0.5rem;
  padding-inline: 1.7rem 1.2rem;
  margin: 1rem auto;
  transition: all 250ms ease-in-out;
}

#contact-page .contact-row form .contact-btn:hover {
  background-color: var(--white);
  border: 1px solid var(--accent-color);
  color: var(--text-dark);
  cursor: pointer;
}

#contact-page .contact-row form textarea {
  height: 15rem;
  resize: none;
}

/* Shopping Cart page starts here */
/*  Shopping Cart page / Page header */

#cart-header .page-header {
  background-color: #f8a9a0;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#cart-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#cart-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#cart-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#cart-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/*  Shopping Cart page / cart product */
/* some of them are conviened with store page css */
#cart-page h2 {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
}

#cart-page .cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

#cart-page .cart-total p {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
}

#cart-page .cart-total p span {
  color: #f38375;
}

#cart-page .cart-total button {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 80px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

#cart-page .product-container .product-box .sub-total {
  color: var(--text-dark);
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 1rem;
}

#cart-page .product-container .product-box .sub-total span {
  color: #f38375;
}

#cart-page .product-box .flex .ri-pencil-line {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  height: 1.9rem;
  width: 1.9rem;
}

#cart-page .product-box .flex .ri-pencil-line:hover {
  background-color: var(--white);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

#cart-page .more-btn button {
  background-color: #f38375;
  color: var(--white);
  font-size: 20px;
  display: block;
  border: none;
  border-radius: 80px;
  padding: 10px 20px;
  margin: 40px auto;
  transition: all 200ms ease-in-out;
}

#cart-page .more-btn button:hover {
  background-color: var(--white);
  border: 1px solid #f38375;
  color: #f38375;
  cursor: pointer;
}

/* Checkout page starts here */
/*  Checkout page / Page header */
#checkout-header .page-header {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#checkout-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#checkout-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#checkout-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#checkout-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/*  Checkout page / checkout form */

#checkout-page.checkout h2 {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
}

#checkout-page.checkout form {
  border: 1px solid var(--text-light);
  border-radius: 4px;
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem;
}

#checkout-page.checkout form h3 {
  color: var(--text-dark);
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.2rem;
}

#checkout-page.checkout form .cart-items,
#checkout-page.checkout form .customer-profile {
  background-color: #fff4d2;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 2rem;
}

#checkout-page.checkout form .cart-items p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--text-dark);
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 0 1rem;
}

#checkout-page.checkout form .cart-items p .price {
  font-weight: 700;
}

#checkout-page.checkout form .cart-items p.grand-total {
  background-color: var(--white);
  padding: 1.2rem 1rem;
  border-radius: 4px;
}

#checkout-page.checkout form .customer-profile p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 0 1rem;
}

#checkout-page.checkout form .customer-profile p i {
  color: var(--primary-color);
  margin-right: 0.7rem;
}

#checkout-page.checkout form .customer-profile p span {
  color: var(--text-dark);
}

#checkout-page.checkout form .customer-profile .payment-method-box {
  width: 100%;
  border: 1px solid var(--text-dark);
  border-radius: 4px;
  margin: 3rem 0;
  padding: 0.8rem;
}

#checkout-page.checkout form button.cart-btn {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 0.9rem;
  display: block;
  border: none;
  border-radius: 80px;
  padding: 10px 20px;
  margin: 40px auto;
  transition: all 200ms ease-in-out;
}

#checkout-page.checkout form button.cart-btn:hover {
  background-color: var(--white);
  border: 1px solid var(--accent-color);
  color: var(--white);
}

#checkout-page.checkout input {
  background-color: #f8a9a0;
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.5;
  border: none;
  border-radius: 5rem;
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  transition: all 250ms ease-in-out;
}

#checkout-page.checkout input:hover {
  cursor: pointer;
  background-color: var(--white);
  color: #f8a9a0;
  border: 1px solid #f8a9a0;
}

/* Order page starts here */
/*  Order page / Page header */
#order-header .page-header {
  background-color: #f8a9a0;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#order-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#order-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#order-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#order-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/*  Order page / Order details section */

#order-page.orders h2 {
  color: var(--text-dark);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

#order-page .box-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;
}

#order-page .box-container .box {
  flex: 1 1 40rem;
  border: 1px solid var(--text-light);
  margin: 2rem 3rem;
  padding: 1rem 2rem;
}

#order-page .box-container .box p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0;
}

#order-page .box-container .box p span {
  color: var(--text-dark);
}

#order-page .box-container ul {
  list-style-type: none;
}

#order-page .box-container li {
  padding: 0.5rem 0 0 4rem;
}

/* Login page starts here */
/*  Login page / Page header */
#login-header .page-header {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#login-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#login-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#login-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#login-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

#login-form-container form {
  border: 1px solid var(--text-light);
  border-radius: 4px;
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

#login-form-container form h3 {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#login-form-container form .box {
  border: 1px solid var(--text-light);
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}

#login-form-container form p {
  color: var(--text-dark);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2rem;
}

#login-form-container form .login-btn {
  background-color: #f8a9a0;
  color: var(--text-dark);
  border: none;
  border-radius: 80px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1.8rem 0;
  padding: 1rem 3rem;
}

#login-form-container form .login-btn:hover {
  cursor: pointer;
  border: 1px solid #f8a9a0;
  background-color: var(--white);
}

#login-form-container form p a {
  color: var(--primary-color);
}

#login-form-container form p a:hover {
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 1px;
}

/* Register page starts here */
/*  Register page / Page header */
#register-header .page-header {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#register-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#register-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#register-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#register-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/* Profile page starts here */
/*  Profile page / Page header */
#profile-header .page-header {
  background-color: #f8a9a0;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 4rem;
}

#profile-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#profile-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#profile-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#profile-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/*  Profile page / user info section */
#user-deatails .user {
  border: 1px solid var(--text-light);
  border-radius: 4px;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

#user-deatails .user img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  margin: 2rem 0;
}

#user-deatails .user p {
  color: var(--text-dark);
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem 0;
}

#user-deatails .user p span {
  color: var(--text-dark);
}

#user-deatails .user p i {
  color: var(--text-dark);
  margin-right: 1.5rem;
}

#user-deatails .user .address {
  margin-top: 1.5rem;
}

#user-deatails .user button.cart-btn {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 0.9rem;
  display: block;
  border: none;
  border-radius: 80px;
  padding: 10px 20px;
  margin: 40px auto;
  transition: all 200ms ease-in-out;
}

/* Price page starts here */
/*  Price page / Page header */
#price-header .page-header {
  background-color: var(--secondary-accent-color);
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: column;
  min-height: 180px;
  margin-bottom: 2rem;
}

#price-header .page-header h1 {
  font-size: 48px;
  font-weight: 500;
}

#price-header .page-header p {
  font-size: 24px;
  color: var(--text-light);
}

#price-header .page-header p a {
  color: var(--text-light);
  transition: all 250ms ease-in-out;
}

#price-header .page-header p a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

/* Price section */
#price-page h2 {
  color: var(--text-dark);
  font-size: 2.8rem;
}
#price-page h3,
#price-page p {
  color: var(--text-dark);
  text-align: center;
  line-height: 1.5;
}

#price-page h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

#price-page p {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

#price-page .price-grid {
  margin-bottom: 6rem;
}

#price-page .pricing-table {
  font-size: 1.2rem;
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

#price-page .pricing-table th,
#price-page .pricing-table td {
  color: var(--text-dark);
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

#price-page .pricing-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

#price-page .pricing-table tr:hover {
  background-color: #f9f9f9;
}

/* Media Query */

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .section-container {
    padding: 30px 15px;
  }

  #header {
    padding: 5px 10px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e6e8f0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    padding: 80px 0 0 10px;
    transition: right 0.3s ease;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 30px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: var(--text-dark);
    font-size: 24px;
    padding-right: 20px;
  }

  #close {
    color: var(--text-dark);
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  #lg-bag {
    display: none;
  }

  /* Home page | Hero section */

  #hero {
    width: 100%;
    height: 580px;
  }

  #hero_container {
    padding: 80px 10px;
  }

  #hero_content {
    margin: 0 20px;
    padding-top: 0;
  }

  #hero_content h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #hero_content h1 {
    font-size: 48px;
    margin: 40px 0 10px 0;
  }

  #hero_content h2 {
    font-size: 24px;
    margin: 10px 0 20px 0;
  }

  #hero_content P {
    font-size: 22px;
    margin: 20px;
  }

  #hero-btn button {
    font-size: 24px;
    padding-block: 0.5rem;
    padding-inline: 1.7rem 1.2rem;
    margin: 40px auto;
  }

  /* Home page | Intro section */

  .intro-grid {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .intro-card {
    max-width: 450px;
  }

  .intro-card h4 {
    font-size: 18px;
  }

  .intro-card p {
    font-size: 16px;
  }

  .intro-card a {
    font-size: 16px;
  }

  /* Home page | About section */

  .about-container {
    padding: 20px 40px;
  }

  .about-header h2 {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .about-content span {
    width: 80px;
    margin-bottom: 10px;
  }

  .about-content h4,
  .about-content p {
    text-align: start;
  }

  .about-content h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about-content p {
    font-size: 12px;
  }

  .about-row {
    flex-direction: row;
    align-items: center;
  }

  .about-image {
    max-width: unset;
    margin-inline: auto;
  }

  .about-content {
    text-align: left;
  }

  /* Home page | Store section */
  #store .section-header h2 {
    font-size: 32px;
  }

  .store-card h4 {
    font-size: 24px;
  }

  .store-card p {
    font-size: 16px;
  }

  .store-card a {
    font-size: 16px;
  }

  /* Home page | Service section */

  #service .section-header h2 {
    font-size: 24px;
  }

  .service-flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 0 20px 0 20px;
    margin: 50px 10px 0 10px;
  }

  /* Home page | client section */

  .client-card {
    width: 80%;
    padding: 20px;
  }

  .client-details img {
    width: 100px;
    height: 80px;
  }

  .client-details h4 {
    font-size: 20px;
  }

  .client-details h5 {
    font-size: 16px;
  }

  .client-card p {
    font-size: 16px;
  }

  /* Home page | Instagram section */

  #instagram .section-header {
    margin-top: 40px;
  }

  #instagram .section-header p {
    font-size: 16px;
    padding: 6px 20px;
    margin-bottom: 16px;
    border-radius: 80px;
  }

  #instagram .section-header h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .instagram-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Home page | Footer section */
  #footer .section-container {
    padding: 30px 25px;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-socials a {
    font-size: 12px;
  }

  .footer-bar {
    margin: 40px auto;
  }

  /* About page starts here */
  /* About page / Page Header */

  #about-header .page-header {
    min-height: 140px;
  }

  #about-header .page-header h3 {
    font-size: 36px;
    padding-top: 10px;
  }

  #about-header .page-header p {
    font-size: 20px;
  }

  /* About Page |  About section*/
  #about-page-intro .row {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #about-page-intro .about-page-main-content h3 {
    text-align: center;
    margin-top: 10px;
  }

  #about-page-intro .about-page-main-content p {
    line-height: 1.5;
    padding: 5px 20px;
  }

  /* Store page starts here */
  /* Store page / Product details section */
  #store-page .product-container {
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 2rem;
  }

  /* Contact page starts here */
  /*  Contact page / Contact form */

  #contact-page .contact-row form h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  #contact-page .contact-row form p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #contact-page .contact-row form .contact-btn {
    font-size: 0.8rem;
  }
}

/* Media Query */

@media (max-width: 540px) {
  .section-container {
    padding: 20px 10px;
  }

  .section-header {
    margin-top: 40px;
  }
  /* Home page | Hero section */
  #hero {
    max-width: 100%;
    height: 260px;
  }

  #hero_container.section-container {
    padding: 10px 10px;
  }

  #hero_content {
    padding-top: 5px;
    margin: 0 10px;
  }

  #hero_content h4 {
    font-size: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #hero_content h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0 5px 0;
  }

  #hero_content h2 {
    font-size: 14px;
    margin: 10px 0 10px 0;
  }

  #hero_content P {
    font-size: 12px;
    padding: 10px 15px;
    margin: 0;
  }

  #hero-btn button {
    font-size: 10px;
    display: block;
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
  }

  #hero-btn button span {
    font-size: 12px;
  }

  /* Home page | Intro section */
  .section-header p {
    font-size: 14px;
  }

  .section-header h2 {
    font-size: 24px;
    padding: 0 20px;
    margin-bottom: 40px;
  }

  .intro-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .intro-card {
    height: 350px;
    padding: 10px 20px;
  }

  #intro-header p {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 10px;
  }

  #intro-header h2 {
    font-size: 24px;
    margin: 0 20px;
  }

  .intro-card img {
    margin-top: 10px;
    padding: 10px 10px;
    width: 120px;
  }

  .intro-card h4 {
    font-size: 22px;
    padding-bottom: 10px;
  }

  /* Home page | About section */
  .about-container {
    padding: 10px 15px;
  }

  .about-header p {
    font-size: 24 px;
  }

  .about-container .about-header h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .about-row {
    display: block;
    margin-bottom: 30px;
  }

  .about-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
  }

  .about-content {
    display: block;
    text-align: center;
    padding: 0 15px;
  }

  #about .about-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #about .about-content p {
    font-size: 18px;
  }

  /* Home page | Store section */
  .product::before {
    height: 100%;
  }
  .store-grid {
    grid-template-columns: 1fr;
  }

  #store .section-header p {
    font-size: 18px;
  }

  .section-header h2 {
    font-size: 28px;
    padding: 0 15 px;
  }

  .store-card {
    padding: 0 15px;
    margin-bottom: 30px;
    text-align: center;
  }

  .store-card h4 {
    font-size: 28px;
  }

  #store .section-header p {
    font-size: 14px;
  }

  .store-card a {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Home page | Service section */

  #service .section-header h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .service-flex {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 64px 10px 0 10px;
  }

  .service-card div {
    margin: 30px auto;
  }

  /* Home page | Client section */
  #client .section-header {
    padding-top: 50px;
    margin-top: 40px;
  }

  #client .section-header h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .swiper {
    margin: 20px auto;
    width: 80%;
  }

  .client-card {
    padding: 25px 10px;
    margin: 20px;
  }

  .client-details img {
    max-width: 100px;
    width: 100px;
    height: 80px;
  }

  .client-details h5 {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .client-card p {
    font-size: 12px;

    padding: 10px 10px;
  }

  /* Home page | Instagram section */

  #instagram .section-header {
    padding: 5px 20px;
    margin-top: 20px;
  }

  #instagram .section-header p {
    display: block;
    margin: 10px auto;
  }

  #instagram .section-header h2 {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  /* Home page | Footer section */

  .footer-container {
    grid-template-columns: 1fr;
  }

  footer .header-logo {
    margin-bottom: 0;
  }

  footer .footer-col {
    margin: 0px 20px;
  }

  .footer-col h4 {
    font-size: 18px;
  }

  .footer-links a,
  .footer-socials a {
    font-size: 12px;
  }

  footer #address,
  footer #newsletter {
    margin-top: 40px;
  }

  footer #inquiries,
  footer #follow {
    margin-top: 10px;
  }

  .footer-col form input {
    font-size: 12px;
    padding-inline: 15px;
  }

  .footer-col p {
    font-size: 12px;
  }

  .footer-socials {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer-bar p {
    font-size: 10px;
  }

  /* About page starts here */
  /* About page / Page Header */

  #about-header .page-header {
    min-height: 120px;
  }

  #about-header .page-header h3 {
    font-size: 26px;
    padding-top: 5px;
  }

  #about-header .page-header p {
    font-size: 16px;
  }

  /* About Page |  About section*/
  #about-page-intro .about-page-main-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #about-page-intro .about-page-main-content h3 {
    margin-top: 16px;
  }

  /* Store page starts here */
  /* Store page / Store header section */
  #store-header .page-header h1 {
    font-size: 32px;
  }

  #store-header .page-header p {
    font-size: 18px;
  }

  /* Store page / Product details section */
  #store-page h2 {
    font-size: 1.4rem;

    margin: 40px 0;
  }

  #store-page .product-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Contact page starts here */
  /*  Contact page / page header */
  #contact-header .page-header h1 {
    font-size: 32px;
  }

  #contact-header .page-header p {
    font-size: 18px;
  }

  /*  Contact page / contact form */
  #contact-page .contact-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  #contact-page .contact-row .contact-page-image img {
    padding: 0 2rem 0;
  }

  /* Cart page starts here */
  /*  Cart page / page header */

  #cart-header .page-header h1 {
    font-size: 32px;
  }

  #cart-header .page-header p {
    font-size: 18px;
  }

  /*  Cart page / product cart section */

  #cart-page h2 {
    color: var(--text-dark);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 0.5rem;
  }

  #cart-page .cart-total {
    justify-content: space-around;
    padding: 1rem 3rem;
  }

  #cart-page .cart-total p {
    margin: 20px 0;
  }
  #cart-page .product-container {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0 1rem;
  }

  /* Checkout page starts here */
  /*  Checkout page / page header */
  #checkout-header .page-header h1 {
    font-size: 32px;
  }

  #checkout-header .page-header p {
    font-size: 18px;
  }

  /*  Checkout page / checkout form */
  #checkout-page.checkout h2 {
    font-size: 1.4rem;
    margin: 40px 0;
  }

  #checkout-page.checkout form h3 {
    font-size: 1.3rem;
  }

  #checkout-page.checkout form .cart-items p {
    font-size: 1rem;
  }

  #checkout-page.checkout form .cart-items p.grand-total {
    padding: 0.8rem 1rem;
  }

  #checkout-page.checkout form .customer-profile p {
    font-size: 1rem;
  }

  #checkout-page.checkout form .customer-profile .payment-method-box {
    margin-top: 1rem;
  }

  /* Order page starts here */
  /*  Order page / Page header */

  #order-header .page-header h1 {
    font-size: 32px;
  }

  #order-page.orders h2 {
    font-size: 1.4rem;
    margin: 40px 0;
  }

  #order-page .box-container .box {
    flex: 1 1 40rem;
    border: 1px solid var(--text-light);
    margin: 1rem 2rem;
    padding: 1rem 2rem;
  }

  /* Login page starts here */
  /*  Login page / Page header */
  #login-header .page-header h1 {
    font-size: 32px;
  }

  #login-header .page-header p {
    font-size: 18px;
  }

  #login-form-container form {
    max-width: 20rem;
    padding: 2rem;
  }

  #login-form-container form h3 {
    font-size: 1.2rem;
  }

  #login-form-container form .box {
    font-size: 1rem;
    width: 100%;
    margin: 1rem 0;
    padding: 0.6rem;
  }

  #login-form-container form .login-btn {
    font-size: 0.8rem;
    margin: 1.2rem 0;
    padding: 1rem 3rem;
  }

  /* Register page starts here */
  /*  Register page / Page header */
  #register-header .page-header h1 {
    font-size: 32px;
  }

  #register-header .page-header p {
    font-size: 18px;
  }

  /* Profile page starts here */
  /*  Profile page / Page header */
  #profile-header .page-header h1 {
    font-size: 32px;
  }

  #profile-header .page-header p {
    font-size: 18px;
  }

  /*  Profile page / user info section */
  #user-deatails .user {
    border: 1px solid var(--text-light);
    border-radius: 4px;
    max-width: 20rem;
    margin: 0 auto;
    padding: 2rem;
  }

  #user-deatails .user img {
    height: 10rem;
    margin: 1rem 0;
  }

  #user-deatails .user p {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  #user-deatails .user button.cart-btn {
    font-size: 0.8rem;
  }
}
