:root {
  --primary-color: #4a90e2;
  --secondary-color: #c3eefa;
  --accent-color: #f7c948;
  --econdary-accent-color: #fbe089;
  --text-dark: #333;
  --text-light: #c9c9c9;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-container {
  max-width: var(--max-width);
  padding: 80px 15px;
  margin: auto;
}

.section-header {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  line-height: 1.5;
}

.section-subheader {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

/* Home page | navbar section */

#header img {
  width: 160px;
  height: auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0 0.06);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-self: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  color: var(--text-dark);
  font-size: 18px;
  transition: all 250ms ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-color);
  cursor: pointer;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -10px;
  left: 16px;
}

#mobile {
  display: none;
  align-items: center;
}

#mobile i {
  font-size: 22px;
  padding: 0 10px;
}

#close {
  display: none;
}

/* Home page | Hero section */
#hero {
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
}

#hero_content {
  margin: 0 80px;
  padding-top: 60px;
}

#hero_content h4 {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 80px;
}

#hero_content h1 {
  color: var(--primary-color);
  font-size: 65px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 40px 0 18px 0;
  text-align: center;
}

#hero_content h2 {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 18px;
}

#hero_content P {
  color: var(--text-dark);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 18px;
}

#hero-btn button {
  background-color: var(--accent-color);
  color: var(--text-dark);
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  border-radius: 80px;
  padding-block: 0.5rem;
  padding-inline: 1.5rem 1rem;
  margin: 50px 0;
  transition: all 250ms ease-in-out;
}

#hero-btn button span {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border-radius: 100%;
  padding: 5px 9px;
}

#hero-btn button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#hero-btn button:hover span {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Home page |  Intro section */

.section-header {
  margin-top: 80px;
}

.section-header p,
.section-header h2 {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-header p {
  font-size: 22px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 80px;
}

.intro-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 40px 50px 10px 50px;
}

.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 350px;
  width: 100%;
  padding: 16px;
}

.intro-card div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 16px;
  padding: 10px;
}

.intro-card img {
  display: block;
  margin: 0 auto;
  padding: 20px 20px;
  width: 160px;
  object-fit: cover;
}

.intro-card:nth-child(1) {
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.intro-card:nth-child(2) {
  background-color: #f8a9a0;
  border-radius: 100%;
}

.intro-card:nth-child(3) {
  background-color: var(--econdary-accent-color);
  border-radius: 100%;
}

.intro-card h4 {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
}

.intro-card p {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 20px;
}

.intro-card a {
  background-color: var(--white);
  color: var(--text-dark);
  font-size: 14px;
  display: inline-block;
  border-radius: 80px;
  padding: 8px 10px;
  transition: all 200ms ease-in-out;
}

.intro-card:nth-child(1) a:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.intro-card:nth-child(2) a:hover {
  color: #f38375;
  border: 1px solid #f38375;
}

.intro-card:nth-child(3) a:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Home page | About section */
.about-container {
  padding: 20px 80px;
}

.about-header h2 {
  font-size: 40px;
  margin-bottom: 80px;
}

.about-row {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  margin-top: 32px;
}

.about-row:nth-child(3) {
  margin-top: 60px;
}

.about-image {
  flex: 1;
  width: 300px;
}

.about-content {
  flex: 1;
  text-align: center;
}

.about-content span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-inline: auto;
  margin-bottom: 32px;
  border-radius: 100%;
  aspect-ratio: 1;
}

.about-content span img {
  max-width: 40px;
}

.about-row {
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.about-row:nth-child(2) .about-content span {
  background-color: var(--secondary-color);
}

.about-row:nth-child(3) {
  flex-direction: row-reverse;
}

.about-row:nth-child(3) .about-content span {
  background-color: #f8a9a0;
}

.about-row:nth-child(4) .about-content span {
  background-color: var(--econdary-accent-color);
}

.about-content h4,
.about-content p {
  color: var(--text-dark);
  line-height: 1.5;
  text-align: start;
  max-width: 450px;
  margin-inline: auto;
}

.about-content h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.about-content p {
  font-size: 20px;
  opacity: 0.7;
}

/* Home page | Store section */
.store-container {
  padding: 60px 15px;
}

.product {
  position: relative;
  isolation: isolate;
}

.product::before {
  background-color: #fff2cd;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.store-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}

.store-card img {
  width: 100%;
  border-radius: 4px;
}

.store-card h4 {
  color: var(--text-dark);
  font-size: 28px;
  font-weight: 600;
  margin-block: 20px 15px;
}

.store-card p {
  font-size: 18px;
  margin-bottom: 20px;
}

.store-card a {
  background-color: var(--econdary-accent-color);
  color: var(--text-dark);
  font-size: 20px;
  display: inline-block;
  border-radius: 80px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.store-card a:hover {
  background-color: var(--white);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

/* Home page | Service section */
#service .section-header h2 {
  font-size: 38px;
  margin-bottom: 80px;
}

.service-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 64px;
}

.service-card div {
  background-color: var(--secondary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 120px;
  margin-bottom: 32px;
  margin-inline: auto;
}

.service-card img {
  max-width: 50px;
}

.service-card p {
  font-weight: 500;
  opacity: 0.5;
}

/* Home page | Client section */
#client {
  background-color: #fcd4d0;
  width: 100%;
}

#client .section-header {
  padding-top: 80px;
}

.swiper {
  width: 80%;
  margin-top: 60px;
}

.swiper-slide {
  min-width: 375px;
}

.client-card {
  background-color: var(--white);
  border-radius: 8px;
  padding: 25px 40px;
  margin: 20px;
  transition: 300ms;
}

.client-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.client-details img {
  max-width: 120px;
  width: 120px;
  height: 100px;
  border-radius: 100%;
}

.client-details h4 {
  font-size: 24px;
  padding: 10px;
}

.client-details h5 {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.6;
}

.client-card p {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 20px;
}

#instagram .section-header {
  padding: 5px 50px;
}

/* Home page | Instagram section */

#instagram .section-header p {
  background-color: var(--primary-color);
  color: var(--white);
  max-width: fit-content;
  padding: 6px 20px;
  margin-bottom: 16px;
  border-radius: 80px;
}

#instagram .section-header h2 {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--text-light);
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.instagram-grid img {
  width: 100%;
  height: auto;
}

/* Media Query */

@media (max-width: 540px) {
  /* Home page | Hero section */
  #hero {
    width: 100%;
    height: 460px;
  }

  #hero_content {
    padding-top: 30px;
    margin: 0 40px;
  }

  #hero_content h4 {
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #hero_content h1 {
    font-size: 28px;
    text-align: center;
    margin: 20px 0 18px 0;
  }

  #hero_content h2 {
    font-size: 16px;
  }

  #hero_content P {
    font-size: 14px;
  }

  #hero-btn button {
    font-size: 14px;
    margin: 20px 0;
    padding-inline: 1rem 0.5rem;
  }

  #hero-btn button span {
    font-size: 14px;
  }

  /* Home page | Intro section */
  .section-header p {
    font-size: 14px;
  }

  .section-header h2 {
    font-size: 24px;
    padding: 0 20px;
  }

  .intro-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .intro-card {
    height: 350px;
    padding: 10px 20px;
  }

  #intro-header p {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 10px;
  }

  #intro-header h2 {
    font-size: 24px;
    margin: 0 20px;
  }

  .intro-card img {
    margin-top: 10px;
    padding: 10px 10px;
    width: 120px;
  }

  .intro-card h4 {
    font-size: 22px;
    padding-bottom: 10px;
  }

  /* Home page | About section */
  .about-container {
    padding: 10px 15px;
  }

  .about-header p {
    font-size: 24 px;
  }

  .about-container .about-header h2 {
    font-size: 24px;
  }

  .about-row {
    display: block;
  }

  .about-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
  }

  .about-content {
    display: block;
    text-align: center;
    padding: 0 15px;
  }

  #about .about-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #about .about-content p {
    font-size: 18px;
  }

  /* Home page | Store section */
  .product::before {
    height: 100%;
  }
  .store-grid {
    grid-template-columns: 1fr;
  }

  #store .section-header p {
    font-size: 18px;
  }

  .section-header h2 {
    font-size: 28px;
    padding: 0 15 px;
  }

  .store-card {
    margin-bottom: 40px;
  }

  .store-card h4 {
    font-size: 28px;
  }

  #store .section-header p {
    font-size: 14px;
  }

  .store-card a {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Home page | Instagram section */

  #instagram .section-header {
    padding: 5px 20px;
    margin-top: 20px;
  }

  #instagram .section-header h2 {
    text-align: left;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  .instagram-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  #header {
    padding: 5px 10px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e6e8f0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    padding: 80px 0 0 10px;
    transition: right 0.3s ease;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 30px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: var(--text-dark);
    font-size: 24px;
    padding-right: 20px;
  }

  #close {
    color: var(--text-dark);
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  #lg-bag {
    display: none;
  }

  /* Home page | Hero section */

  #hero_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  /* Home page | Intro section */

  .intro-grid {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .intro-card {
    max-width: 450px;
  }

  .intro-card h4 {
    font-size: 18px;
  }

  .intro-card p {
    font-size: 16px;
  }

  .intro-card a {
    font-size: 16px;
  }

  /* Home page | About section */

  .about-container {
    padding: 20px 40px;
  }

  .about-header h2 {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .about-content span {
    width: 80px;
    margin-bottom: 10px;
  }

  .about-content h4,
  .about-content p {
    text-align: start;
  }

  .about-content h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about-content p {
    font-size: 12px;
  }

  .about-row {
    flex-direction: row;
    align-items: center;
  }

  .about-image {
    max-width: unset;
    margin-inline: auto;
  }

  .about-content {
    text-align: left;
  }

  /* Home page | Store section */
  #store .section-header h2 {
    font-size: 32px;
  }

  .store-card h4 {
    font-size: 24px;
  }

  .store-card p {
    font-size: 16px;
  }

  .store-card a {
    font-size: 16px;
  }
}
